.landing-section {
  width: 100%
  height: 100%
  position: relative
  box-shadow: 0 .5rem 1rem rgba($black, .25)

  .landing {
    &__box {
      height: 100%

      &-panel {
        height: 100%

        &--left {
          background-color: $background-dark
          color: $white
        }

        &--right {
          background-color: $background-light
        }
      }
    }

    &__form {
      width: 75%
      padding: 3rem
      margin: -3rem auto 0

      &-question {
        font-size: 1.6rem
        text-align: center
        padding: 1rem

        span {
          transition: all .2s

          &:hover {
            text-decoration: underline
            cursor: pointer
          }
        }
      }
    }

    &__bg {
      height: 100%
      background: url('../img/team.jpg')
      background-size: cover
      background-position: center center
      position: relative
    }

    &__logo {
      padding: 20vh 0 4rem
      text-align: center

      img {
        width: 24rem
        height: auto
        margin: 0 auto
      }
    }
  }
}
