.auth-form {
  display: flex;
  flex-direction: column;
  min-width: rem2dec(36rem);
  width: 90%;
  padding-bottom: rem2dec(10rem);

  &__logo {
    width: rem2dec(20rem);
    height: auto;
    margin: rem2dec(3rem auto);

    img {
      width: 100%;
      height: auto;
    }
  }

  &__heading {
    font-size: rem2dec(3.6rem);
    font-weight: 400;
    margin-bottom: rem2dec(1.5rem);
    text-align: center;
  }

  &__instruction {
    font-size: rem2dec(1.6rem);
    font-weight: 200;
    color: $font-gray-dark;
    margin-bottom: rem2dec(1.5rem);
    text-align: center;
  }

  &__group {
    margin-bottom: rem2dec(1rem);
  }

  &__actions {
    margin-top: rem2dec(2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link > a {
    font-size: rem2dec(1.6rem);
    text-decoration: none;
  }
}
