.browser-form {
  width: 90%
  position: relative
  margin: 0 auto
  border-radius: .5rem

  &__content {
    position: relative
    z-index: 100
    background-color: #fff
    padding: 3rem 4rem
  }

  +respond(lg) {
    width: 42rem
  }

  &__info {
    text-align: center
    font-size: 1.8rem
    font-weight: 200
  }

  &__logo {
    width: 15rem
    height: auto
    margin: 3rem auto
    position: relative

    img {
      width: 100%
      height: auto
    }
  }
}
