.date  {
  margin-top: rem2dec(4rem);
  text-align: center;
  font-weight: 200;

  &__value  {
    font-weight: inherit;
    font-size: rem2dec(1.8rem);

    @include respond(xl) {
      font-size: rem2dec(2.1rem);
    };
  }

  &__description  {
    font-weight: inherit;
    font-size: rem2dec(1.8rem);
    color: $font-gray-dark;

    @include respond(xl) {
      font-size: rem2dec(2.1rem);
    };
  }
}
