.evaluation  {

  &__fullname  {
    font-size: rem2dec(3.6rem);
    font-weight: inherit;
    margin-top: rem2dec(2rem);
    text-align: center;

    @include respond(lg) {
      text-align: left;
    };
  }

  &__position  {
    font-size: rem2dec(2.4rem);
    font-weight: inherit;
    color: $font-gray-dark;
    text-transform: uppercase;
    text-align: center;

    @include respond(lg) {
      text-align: left;
    };
  }
}
