$profile-height: 36px;

.profile  {
  height: $profile-height;
  border-radius: $profile-height / 2;
  padding: 0 $profile-height * 1.2;
  margin-left: 1.8rem;
  position: relative;
  background-color: white;
  transition: all 0.2s;
  display: block;

  &:hover  {
    background-color: $background-light;
  }

  &__avatar  {
    position: absolute;
    top: 2px;
    left: 0;
  }

  &__fullname  {
    font-size: 1.4rem;
    line-height: $profile-height;
    text-transform: uppercase;
  }

  &__arrow  {
    position: absolute;
    top: $profile-height / 6;
    margin: 0 1rem;
  }
}
