.search-form  {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  &__skill  {
    width: 50%;
    height: rem2dec(8rem);
  }

  &__buttons  {
    margin: rem2dec(0 3rem);
  }

  &__value  {
    margin: rem2dec(0 3rem);
    transform: translateY(-0.4rem);
  }

  &__action  {
    margin-left: auto;
  }
}
