.search-form {
  display: flex
  flex-wrap: wrap
  align-items: baseline

  &__skill {
    width: 50%
    height: 8rem
  }

  &__buttons {
    margin: 0 3rem
  }

  &__value {
    margin: 0 3rem
    transform: translateY(.6rem)
  }

  &__action {
    margin-left: auto
  }
}
