.section-form  {
  margin: 6.8rem auto 3.2rem;

  &__header  {
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;

    span  {
      display: inline-block;
      background-color: #ffffff;
      padding: 1rem 2rem;
      margin-left: 3rem;
      position: relative;
      z-index: 10;
    }

    &::after  {
      content: "";
      height: 1px;
      width: 75%;
      display: block;
      background-color: $font-black;
      position: absolute;
      top: 50%;
      z-index: 5;
    }
  }

  &__label  {
    line-height: 2rem;
    font-size: 1.6rem;
    color: $font-gray-light;
  }
}
