.section-form  {
  margin: rem2dec(6.8rem auto 3.2rem);

  &__header  {
    font-size: rem2dec(1.8rem);
    font-weight: 400;
    position: relative;

    span  {
      display: inline-block;
      background-color: #ffffff;
      padding: rem2dec(1rem 2rem);
      margin-left: rem2dec(3rem);
      position: relative;
      z-index: 10;
    }

    &::after  {
      content: "";
      height: 1px;
      width: 75%;
      display: block;
      background-color: $font-black;
      position: absolute;
      top: 50%;
      z-index: 5;
    }
  }

  &__label  {
    line-height: rem2dec(2rem);
    font-size: rem2dec(1.6rem);
    color: $font-gray-light;
  }
}
