.activity {
  position: relative

  &__timing {
    font-size: 1.6rem
    position: absolute
    top: 50%
    transform: translateY(-50%)
  }

  &__text {
    padding-left: 6rem
  }

  &__title {
    font-size: 1.6rem
  }

  &__description {
    font-size: 1.4rem
    margin: 0
  }

}