.auth-form {
  width: 90%
  position: relative
  left: 50%
  transform: translateX(-50%)
  background: #fff
  padding: 4rem 5rem
  border-radius: .5rem

  +respond(sm) {
    width: 42rem
  }

  &__logo {
    width: 15rem
    height: auto
    margin: 3rem auto
    position: relative

    img {
      width: 100%
      height: auto
    }
  }

  &__heading {
    font-size: 3.6rem
    font-weight: 600

    &--dark {
      color: $font-gray
    }
  }

  &__info {
    text-align: center
    font-size: 1.8rem
    font-weight: 200  
  }

  &__question {
    font-size: 1.6rem
    text-align: center
    padding: 1rem

    span {
      transition: all .2s

      &:hover {
        text-decoration: underline
        cursor: pointer
      }
    }
  }
}