.browser-form {
  display: flex
  flex-wrap: wrap
  align-items: center

  &__skill {
    flex-shrink: 0
    min-width: 24rem
    width: 100%

    +respond(md) {
      max-width: 45%
    }

    +respond(xl) {
      max-width: 60%
    }
  }

  &__buttons {
    flex: 1 1 auto
    text-align: left

    +respond(md) {
      text-align: center
    }
  }

  &__comparator {
    display: inline-block
  }

  &__value {
    display: inline-block
    transform: translate(1rem, 1rem)
  }

  &__action {
    flex-shrink: 0
    width: 10rem  
  }
}