.skills {
  background-color: #fff

  .skill {
    display: flex
    align-items: center
    padding: .8rem 1.6rem .8rem
    font-size: 16px
    margin: 0
    position: relative

    &__name {
      text-align: left
      flex: 1 1 auto
      line-height: 3.6rem
      padding-right: 1.6rem
    }

    &__action {
      flex-shrink: 0
      height: 36px
      line-height: 3.6rem
      min-width: 56px
    }
  }
}