.template,
.evaluation {

  .employee {
    font-weight: 200
    text-align: center

    +respond(lg) {
      text-align: left
    }

    &__fullname {
      font-size: 3.6rem
      font-weight: inherit
      margin-top: 2rem

    }

    &__position {
      font-size: 2.4rem
      font-weight: inherit
      color: $font-gray-dark
      text-transform: uppercase
    }
  }

  .date {
    margin-top: 4rem
    text-align: center
    font-weight: 200

    &__value {
      font-weight: inherit
      font-size: 1.8rem

      +respond(xl) {
        font-size: 2.1rem
      }
    }

    &__description {
      font-weight: inherit
      font-size: 1.8rem
      color: $font-gray-dark

      +respond(xl) {
        font-size: 2.1rem
      }
    }
  }
}
