.vcard-header {
  height: 2.4rem
  line-height: 2.4rem
  font-size: 1.6rem
  font-weight: 400
}

.vcard {

  &__title {
    font-size: 1.6rem
  }

  &__info {
    padding: 0 1.6rem 2.4rem 1.6rem
  }

  &__position {
    font-size: 1.4rem
  }

  &__date {
    text-align: center
    font-size: 1.4rem
  }

  &__date-text {
    text-align: center
    font-size: 1.2rem
    color: $font-gray-dark
  }
}