.vcard-header {
  width: 100%
  line-height: 2.4rem
  font-size: 1.4rem
  font-weight: 400

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
}

.vcard {

  &__title {
    font-size: 1.4rem
  }

  &__info {
    padding: 0 1.4rem 2.1rem 1.4rem
  }

  &__position {
    font-size: 1.4rem
  }

  &__date {
    text-align: center
    font-size: 1.4rem
  }

  &__date-text {
    text-align: center
    font-size: 1.2rem
    color: $font-gray-dark
  }
}