.sidebar  {
  &--boxed  {
    background-color: #fff;
    padding: rem2dec(3rem 2rem);
  }

  &__loader {
    text-align: center;
    padding: rem2dec(.5rem);
  }

  &__actions  {
    text-align: right;
    bottom: rem2dec(.5rem);

    & > * {
      margin: rem2dec(0 .5rem);
    }
  }

  &__list  {
    background: #fff;
    max-height: calc(100vh - 204px);
    height: 100%;
    overflow-y: auto;
    @include scrollbar-styling();
  }
}
