.separator  {
  width: 1px;
  margin: 0 0.4rem;
}

.divider-before  {
  margin-left: 1rem;

  &::before  {
    content: '';
    width: 1px;
    height: 30px;
    display: inline-block;
    background-color: $font-gray-light;
    position: absolute;
    top: -10px;
    left: -0.5rem;
  }
}

.rotateZ90  {
  transform: rotateZ(90deg);
}
