<div class="container">
  <div class="wrapper">
    <div class="section logo">
      <%= image_tag 'logo_black.png' %>
    </div>

    <div class="section intro">
      <h2>Hello <%= @user.first_name %>!</h2>
      <p>Someone has requested a link to change your password. You can do this through the link below.</p>
    </div>

    <div class="section cta">
      <%= link_to 'Change my password', @reset_passwords_url.html_safe, class: 'button' %>
    </div>

    <div class="section summary">
      <p>If you didn't request this, please ignore this email.</p>
      <p>Your password won't change until you access the link above and create a new one.</p>
    </div>

    <div class="section bye">
      <p>
        Best Regards,<br />
        <em>Evally Team &hearts;</em>
      </p>
    </div>
  </div>
</div>
