*,
*::after,
*::before {
  margin: 0
  padding: 0
  box-sizing: inherit
}

html {
  font-size: 50%

  +respond(md) {
    font-size: 56.25%
  }

  +respond(lg) {
    font-size: 62.5%
  }

  +respond(xl) {
    font-size: 75%
  }
}

body {
  box-sizing: border-box
  padding: 3rem 1rem
  background: $white
  font-weight: 400
  font-size: 1rem
  line-height: 1.7
  color: $font-black

  +respond(md) {
    padding: 4rem 5rem
  }

  .application {
    font-family: 'Muli', sans-serif !important

    &--wrap {
      min-height: calc(100vh - 8rem)
    }
  }
}
