default: &default
  adapter: postgresql
  encoding: utf8
  host: localhost
  username: postgres
  password:
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  primary:
    <<: *default
    database: evally_development
  human_resources:
    <<: *default
    database: evally_human_resources_development
    migrations_paths: db/human_resources_migrate

test:
  primary:
    <<: *default
    database: evally_test
  human_resources:
    <<: *default
    database: evally_human_resources_test
