development:
  host: http://localhost
  db_host: localhost
  db_username: postgres
  db_password:

test:
  host: http://testhost
  db_host: localhost
  db_username: postgres
  db_password:

staging:
  host: http://example.com

production:
  host: http://example.com
