development:
  host: http://localhost
  auth_mailer: 'Evally <no-reply@example.com>'
  db_host: localhost
  db_username: postgres
  db_password:

test:
  host: http://testhost
  auth_mailer: 'Evally <no-reply@example.com>'
  db_host: localhost
  db_username: postgres
  db_password:

staging:
  host: http://example.com

production:
  host: http://example.com
