// Font colors

$font-black = #222
$font-gray-light = #9F9F9F
$font-gray-dark = #757575

// Other colors
$background-light = #E4E4E4
$background-dark = #00465A

$white = #fafafa
$grey = #ddd
$black = #000

$primary = #3156D7


// https://color.adobe.com/pl/Color-Theme-8-color-theme-11247494/
