// Font colors

$font-black = #222
$font-gray = #737373

// Other colors
$background-light = #F8F7F4
$background-dark = #00465A

$white = #fafafa
$black = #000


// https://color.adobe.com/pl/Color-Theme-8-color-theme-11247494/
