// Quill Toolbar - Placeholder Button
.ql-picker.ql-placeholder {
  width: 118px;
}

.ql-picker.ql-placeholder > span.ql-picker-label::before {
  content: 'Placeholders';
}

.ql-picker.ql-placeholder > span.ql-picker-options > span.ql-picker-item::before {
  content: attr(data-label);
}

// Quill Editor
.ql-editor,
.email__preview {
  font-size: 16px;

  h1 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 300;
    text-transform: inherit;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: 300;
    text-transform: inherit;
  }

  h3 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.05px;
    font-weight: 400;
    text-transform: inherit;
  }

  p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.1px;
    font-weight: 400;
    text-transform: inherit;
  }

  pre {
    background: #23241f;
    color: #f8f8f2;
    overflow: visible;
    border-radius: 3px;
    padding: 5px 10px;
    white-space: pre-wrap;
  }

  blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
  }

  ul, ol {
    margin-left: 1.5em;
    padding-left: 1em !important;
  }

  blockquote,
  code,
  pre,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p {
    margin-bottom: rem2dec(1.6rem) !important;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-justify {
    text-align: justify;
  }
}

// Quill Placeholder Tag

.ql-container .ql-placeholder-tag {
  background: rgba($secondary, .2);
}
