.v-app-bar {
  z-index: 100 !important;
}


.v-data-table {
  tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .02)
  }

  a {
    text-decoration: none
  }
}


.v-expansion-panel::before {
  box-shadow: none;
}


.v-list-item--disabled {
  border-bottom: 1px dashed #ccc;
}

.v-list-item--active.no-active::before {
  opacity: 0 !important;
}


.v-menu__content::-webkit-scrollbar  {
  width: rem2dec(1rem);
  background-color: $grey;
}

.v-menu__content::-webkit-scrollbar-thumb  {
  background-color: $background-dark;
  background-image: -webkit-linear-gradient(
    45deg,
  rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
  rgba(255, 255, 255, 0.2) 50%,
  rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
