.panel {

  &__heading {
    font-size: 3.6rem
    padding-left: 2rem
    font-weight: 200
    color: $font-black
  }

  &__action-bar {
    text-align: right
  }

  &__content {
    margin-top: 2.4rem
  }

  .no-content {
    &__header {
      font-weight: 200

      &--large {
        font-size: 2.1rem
      }
    }
  }

  .header {
    display: flex
    flex-direction: row
    align-items: baseline

    &__name h2 {
      font-size: 3.6rem
      padding-left: 2rem
      font-weight: 200
      color: $font-black
    }

    &__nav {
      position: relative
      bottom: .5rem
      margin-left: 2rem
    }

    &__actions {
      position: relative
      bottom: .5rem
      margin-left: auto
    }
  }

}
