$font-black: #222;
$font-gray-light: #9F9F9F;
$font-gray-dark: #757575;

$background-light: #E4E4E4;
$background-dark: #008080;

$white: #fafafa;
$grey: #ddd;
$black: #000;

// https://htmlcolorcodes.com/color-names/

$primary: #4169E1;
$secondary: #808000;
