<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        background-color: #fafafa;
        font-family: Helvetica, sans-serif;
      }

      h1 {
        font-size: 36px;
        font-weight: bold;
      }

      h2 {
        font-size: 27px;
        font-weight: bold
      }

      h3 {
        font-weight: 21px;
        font-weight: normal;
      }

      h1, h2, h3 {
        margin: 20px 0 10px;
      }

      p {
        font-size: 16px;
        line-height: 27px;
        margin: 0;
      }

      .container {
        width: 100%;
      }

      .wrapper {
        background-color: white;
        max-width: 720px;
        margin: 16px auto;
        padding: 16px 0;
        text-align: center;
      }

      .section {
        padding: 0 16px;
        margin: 16px 0;
      }

      .section--muted p {
        font-size: 12px;
        color: gray;
      }

      .section.logo img {
        width: 200px;
        height: auto;
      }

      .section .button {
        font-wieght: bold;
        font-size: 14px;
        color: white;
        line-height: 14px;
        letter_spacing: 0.03em;
        text-transform: uppercase;
        background-color: #2196F3;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        padding: 14px 35px;
      }

      .section .small-button {
        font-wieght: bold;
        font-size: 12px;
        color: white;
        line-height: 12px;
        letter_spacing: 0.03em;
        text-transform: uppercase;
        background-color: #2196F3;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        padding: 7px 14px;
      }

      table {
        border-collapse: collapse;
      }

      table tr:nth-child(odd) {
        background-color: rgba(0, 0, 0, .02);
      }

      table tr:not(:last-child) {
        border-bottom: thin solid rgba(0, 0, 0, .12);
      }

      table tr:hover {
        background-color: #eee;
      }

      table td {
        padding: 12px 6px;
        line-height: 1.2;
      }

      table a {
        color: #000;
        text-decoration: none;
      }

      table a:hover {
        text-decoration: underline;
      }

      table .subtitle {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.2;
        color: gray
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
