<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        background-color: #fafafa;
        font-family: Helvetica, sans-serif;
      }

      h1 {
        font-size: 36px;
        font-weight: bold;
      }

      h2 {
        font-size: 27px;
        font-weight: bold
      }

      h3 {
        font-weight: 21px;
        font-weight: normal;
      }

      h1, h2, h3 {
        margin: 20px 0 10px;
      }

      p {
        font-size: 16px;
        line-height: 27px;
        margin: 0;
      }

      .container {
        width: 100%;
      }

      .wrapper {
        background-color: white;
        max-width: 640px;
        margin: 16px auto;
        padding: 16px 0;
        text-align: center;
      }

      .section {
        padding: 0 16px;
        margin: 16px 0;
      }

      .section.logo img {
        width: 200px;
        height: auto;
      }

      .section .button {
        font-wieght: bold;
        font-size: 14px;
        color: white;
        line-height: 14px;
        letter_spacing: 0.03em;
        text-transform: uppercase;
        background-color: #2196F3;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        padding: 14px 35px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
