.container
  .row
    .logo
      = image_tag 'logo_black.png'

  .row
    .header
      %h1.headline Hello #{@resource.first_name}!

  .row
    %p.subhead-1
      Someone has requested a link to change your password.
      %br
      You can do this through the link below.

  .row
    = link_to 'Change my password', reset_passwords_url(reset_password_token: @resource.reset_password_token).html_safe, class: 'btn'

  .row
    %p.subhead-1 If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.

  .row
    %p.subhead-1
      Best Regards
      %br
      %em Evally Team &hearts;
